<div class="central-column" data-hero>
  <article>
    <header>
      <img data-image src="{{user.avatar_url}}" alt="{{user.name}}">
      <h1 data-title>{{user.name}}</h1>
    </header>
    <div data-meta>{{user.company}} | {{user.location}}</div>
    <div data-bio>{{user.bio}}</div>
    <footer class="grid_container">
      <a class="button" target="_blank" rel="nofollow noopener noreferrer" data-link>Blog</a>
    </footer>
  </article>
</div>